<MDRPipe>
    <config configId="default">
        <debug>false</debug>
        <export>
        	<format>bbmri</format>
        	<location>Demo Biobank</location>
        	<mdrNamespace>urn:ccdg</mdrNamespace>
        	<mdrUrl>https://mdr.demo.osse-register.de/v3/api/mdr</mdrUrl>
        </export>
        <fileStructure>
            <dataFileName>data.tsv</dataFileName>
            <databaseName>local-ccdg.db</databaseName>
            <logFileName>local-ccdg.log</logFileName>
            <mappingFileName>local-ccdg.tsv</mappingFileName>
            <mdrSourceFileName>local.tsv</mdrSourceFileName>
            <mdrTargetFileName>ccdg.tsv</mdrTargetFileName>
            <xmlFileName>local-ccdg.xml</xmlFileName>
        </fileStructure>
        <folderStructure>
            <dataFolder>./dataEAV/</dataFolder>
            <databaseFolder>./logs/</databaseFolder>
            <mappingsFolder>./mappings/</mappingsFolder>
            <metadataFolder>./metadata/</metadataFolder>
            <logFolder>./logs/</logFolder>
            <xmlFolder>./xmlFiles/</xmlFolder>
        </folderStructure>
        <language>EN</language>
        <logging>
            <enable>true</enable>
            <level>INFO</level>
        </logging>
        <mdr>
            <source>
                <auth>
                    <authenticate>true</authenticate>
                    <publicKey></publicKey>
                    <privateKey></privateKey>
                    <url>http://131.188.43.118:8080/auth</url>
                </auth>
                <namespace>mdr14</namespace>
                <url>http://131.188.43.118:8080/mdr-rest/api/mdr/</url>
            </source>
            <target>
                <auth>
                    <authenticate>false</authenticate>
                    <publicKey></publicKey>
                    <privateKey></privateKey>
                    <url>http://131.188.43.118:8080/auth</url>
                </auth>
                <namespace>ccdg</namespace>
                <url>https://mdr-test.ccp-it.dktk.dkfz.de/v3/api/mdr/</url>
            </target>
        </mdr>
        <store>
            <url>https://ccdc.bbmri-eric.eu</url>
        </store>
     </config>
</MDRPipe>
